body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header {
    text-align: center;
    width: 25rem;
    max-width: 600px;
    margin: 3rem auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    margin-top: 15rem;
}

.username h1:hover {
    opacity: 0.8;
}

.time-bold {
    font-weight: bold;
}

.dashboard {
    display: flex;
    justify-content: center;
    width: 100rem;
    max-width: 120rem;
    margin: 3rem auto;
}

.dashboard-section {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    height: auto;
    max-width: 15rem;
    flex: 1;
    padding: 15px;
}

.dashboard-section h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.dashboard-section ul {
    list-style: none;
    padding: 0;
}

.dashboard-section li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
}

.dashboard-section a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.removebtn {
    float: right;
    background-color: #fff;
    color: #666;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 14px;
}

.removebtn:hover {
    background-color: #ff7f7f;
    border-color: #333;
}

.anteckningbtn,
.newbackgroundbtn {
    background-color: #777;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.3rem;
}

.anteckningbtn:hover,
.newbackgroundbtn:hover {
    background-color: #666;
}

.newbackgroundbtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.dashboard-section textarea#noteInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 25rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.quick-links.weather textarea::placeholder {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #f9f9f9;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #999;
    margin-top: 15%;
    width: 80%;
    max-width: 500px;
}

@media (max-width: 600px) {
    .header {
        width: auto;
        margin: 1rem;
    }

    .username {
        margin-top: 5rem;
    }

    .dashboard {
        flex-direction: column;
        width: auto;
        margin: 1rem;
    }

    .dashboard-section {
        max-width: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .dashboard-section textarea#noteInput {
        height: auto;
    }

    .newbackgroundbtn,
    .anteckningbtn {
        width: 90%;
        margin: 0 auto 15px;
    }

    .modal-content {
        margin: 50% auto;
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .dashboard {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .dashboard-section {
        width: 45%;
        margin-bottom: 15px;
    }
}

#currency-rates li {
    border: 1px solid #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#currency-rates li:hover {
    background-color: #ddd;
}

#currency-rates li a {
    text-decoration: none;
    color: #333;
}

#currency-rates li a:hover {
    color: #000;
}

.clearLocalStorageButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.clearLocalStorageButton:hover {
    background-color: #333;
    color: #fff;
}
